# Variables d'environnement pour la production
# Copiez ce fichier en .env.prod et remplissez les valeurs

# Firebase
FIREBASE_PROJECT_ID=littlebook-b2d2d

# Pour ajouter d'autres variables d'environnement:
# DB_URL=jdbc:postgresql://...
# DB_USERNAME=...
# DB_PASSWORD=...
